Source: archvsync
Section: admin
Priority: optional
Maintainer: Debian Mirror Team <mirrors@debian.org>
Uploaders: Bastian Blank <waldi@debian.org>
Build-Depends:
 debhelper (>= 12~),
 pandoc,
Standards-Version: 4.1.4
Vcs-Git: https://salsa.debian.org/mirror-team/archvsync.git
Vcs-Browser: https://salsa.debian.org/mirror-team/archvsync
Rules-Requires-Root: no

Package: ftpsync
Architecture: all
Depends:
 default-mta | mail-transport-agent,
 rsync,
 ${misc:Depends}
Recommends:
 curl,
Description: Debian archive mirror tool
 ftpsync is the preferred tool for maintaining a Debian mirror.  It
 tries to make updates as smooth as possible, without the clients
 experiencing half updated mirrors.  It supports partial mirrors by
 architecture.
