Source: archvsync
Section: admin
Priority: optional
Maintainer: Debiab Mirror Team <mirrors@debian.org>
Uploaders: Bastian Blank <waldi@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
#Vcs-Git: git://anonscm.debian.org/collab-maint/archvsync.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/archvsync.git

Package: ftpsync
Architecture: all
Depends: ${misc:Depends}
Description: Debian archive mirror tool
 ftpsync is the preferred tool for maintaining a Debian mirror.  It
 tries to make updates as smooth as possible, without the clients
 experiencing half updated mirrors.  It supports partial mirrors by
 architecture.
