#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

include /usr/share/dpkg/pkg-info.mk
export DEB_VERSION

TARNAME = ftpsync-$(DEB_VERSION_UPSTREAM_REVISION).tar.gz

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	$(MAKE) install-tar DESTDIR=debian/ftpsync-tar/distrib

override_dh_builddeb:
	dh_builddeb
	tar -c -C debian/ftpsync-tar distrib | gzip -n > ../$(TARNAME)
	dpkg-distaddfile $(TARNAME) raw-ftpsync -
